<form [formGroup]="notasForm" (ngSubmit)="onSubmit()">

  <h3>Notas</h3>

  <div class="form-group">
    <label></label>
    <textarea class="form-control" type="text"></textarea>
  </div>

  <button class="btn btn-primary col-md-12">Adicionar</button>

</form>

<div class="mt-4">

  <div class="card mt-3">
    <div class="card-body">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <div class="text-right">
        <button class="btn btn-primary btn-sm"><i class="lnr lnr-pencil"></i></button>
        <button class="btn btn-danger btn-sm ml-2"><i class="lnr lnr-trash"></i></button>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <textarea class="form-control mb-3"
        type="text">With supporting text below as a natural lead-in to additional content.</textarea>
      <div class="text-right">
        <button class="btn btn-secondary btn-sm">Cancelar</button>
        <button class="btn btn-success btn-sm ml-2">Salvar</button>
      </div>
    </div>
  </div>

</div>
