<div class="row">

  <div class="col-md-8 order-md-1">

    <!-- <div class="card mb-4">
      <div class="card-body"> -->

    <!-- <h5 class="card-title">Marcadores</h5> -->

    <div class="row mb-3">

      <div class="col-auto pr-0 mb-1">
        <app-input-tag (add)="addTag($event)"></app-input-tag>
      </div>

      <div class="col-auto pr-0 pl-1 mb-1">
        <app-display-tag value="dadas" removable="true" (remove)="removeTag($event)"></app-display-tag>
      </div>

      <div class="col-auto pr-0 pl-1 mb-1">
        <app-display-tag value="11111" removable="true" (remove)="removeTag($event)"></app-display-tag>
      </div>

      <div class="col-auto pr-0 pl-1 mb-1">
        <app-display-tag value="abcde" removable="true" (remove)="removeTag($event)"></app-display-tag>
      </div>

      <!-- </div>
      </div> -->
    </div>

    <app-client-form-basic-data></app-client-form-basic-data>
  </div>

  <div class="col-md-4 order-md-2 mb-4">
    <app-notes></app-notes>
  </div>

</div>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Radio
  </label>
</div>
