<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

  <h3>Dados Básicos</h3>

  <div class="form-group">
    <label>Razão Social</label>
    <input class="form-control" type="text" formControlName="razaoSocial" required>
  </div>

  <div class="form-group">
    <label>Nome Fantasia</label>
    <input class="form-control" type="text" formControlName="nomeFantasia" required>
  </div>

  <div formArrayName="responsaveis" class="form-group">
    <label>Responsáveis</label>
    <ng-container *ngFor="let responsavel of responsaveis.controls; let i=index">

      <div *ngIf="showInput(i, responsaveis)" class="input-group mb-3">
        <input class="form-control" type="text" [formControlName]="i">
        <div class="input-group-append">
          <button type="submit" class="btn btn-success" (click)="addResponsavel(i)">
            <i class="lnr lnr-cross font-weight-bolder text-white cross-to-plus"></i>
          </button>
        </div>
      </div>

      <div *ngIf="!showInput(i, responsaveis)" class="input-group mb-3">
        <p class="form-control" type="text">{{responsavel.value}}</p>
        <div class="input-group-append">
          <button type="submit" class="btn btn-danger" (click)="removeResponsavel(i)">
            <i class="lnr lnr-trash"></i>
          </button>
        </div>
      </div>

    </ng-container>
  </div>

  <div formArrayName="telefones" class="form-group">
    <label>Telefones</label>
    <ng-container *ngFor="let telefone of telefones.controls; let i=index">

      <div *ngIf="showInput(i, telefones)" class="input-group mb-3">
        <input class="form-control" type="text" [formControlName]="i">
        <div class="input-group-append">
          <button type="submit" class="btn btn-success" (click)="addTelefone(i)">
            <i class="lnr lnr-cross font-weight-bolder text-white cross-to-plus"></i>
          </button>
        </div>
      </div>

      <div *ngIf="!showInput(i, telefones)" class="input-group mb-3">
        <p class="form-control" type="text">{{telefone.value}}</p>
        <div class="input-group-append">
          <button type="submit" class="btn btn-danger" (click)="removeTelefone(i)">
            <i class="lnr lnr-trash"></i>
          </button>
        </div>
      </div>

    </ng-container>
  </div>

  <div formArrayName="emails" class="form-group">
    <label>E-mails</label>
    <ng-container *ngFor="let email of emails.controls; let i=index">

      <div *ngIf="showInput(i, emails)" class="input-group mb-3">
        <input class="form-control" type="text" [formControlName]="i">
        <div class="input-group-append">
          <button type="submit" class="btn btn-success" (click)="addEmail(i)">
            <i class="lnr lnr-cross font-weight-bolder text-white cross-to-plus"></i>
          </button>
        </div>
      </div>

      <div *ngIf="!showInput(i, emails)" class="input-group mb-3">
        <p class="form-control" type="text">{{email.value}}</p>
        <div class="input-group-append">
          <button type="submit" class="btn btn-danger" (click)="removeEmail(i)">
            <i class="lnr lnr-trash"></i>
          </button>
        </div>
      </div>

    </ng-container>
  </div>

  <div formGroupName="endereco">
    <h3>Endereço</h3>

    <div class="form-group">
      <label>CEP</label>
      <input class="form-control" type="text" formControlName="cep">
    </div>

    <div class="row">

      <div class="form-group col-md-8 col-lg-10">
        <label>Logradouro</label>
        <input class="form-control" type="text" formControlName="logradouro">
      </div>

      <div class="form-group col-md-4 col-lg-2">
        <label>Número</label>
        <input class="form-control" type="text" formControlName="numero">
      </div>

    </div>


    <div class="form-group">
      <label>Cidade</label>
      <input class="form-control" type="text" formControlName="cidade">
    </div>

    <div class="form-group">
      <label>Estado</label>
      <input class="form-control" type="text" formControlName="estado">
    </div>

  </div>

  <hr class="mb-4">

  <div class="buttons-container">
    <button type="button" class="btn btn-secondary btn-lg">Cancelar</button>
    <button type="submit" class="btn btn-primary btn-lg ml-0 ml-sm-2 mt-3 mt-sm-0"
      [disabled]="!clientForm.valid">Salvar</button>
  </div>

</form>

<p>
  Form Status: {{ clientForm.status }}
</p>
